/* Mobile first */

html {
  overflow-x: hidden;
}

body {
  margin: auto;
  padding: 64px 64px;
  width: fit-content;
  max-width: 512px;

  font-family: monospace;
  color: #f1f1f1;
  line-height: 1.75;

  background-color: #141414;

  overflow-x: hidden;
}

a {
  color: #178afd;
  text-decoration-color: #178afd00;
}

a:hover,
a:focus {
  text-decoration-color: #178afd;
  transition: text-decoration-color 0.1s ease-out;
  outline: none;
}

/* *:not(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 48px;
} */

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  padding-right: 16px;
  color: #3a4552;
  font-variant-ligatures: none;
}
h1::before {
  content: "#";
  margin-left: calc(-1ch - 16px);
}
h2::before {
  content: "##";
  margin-left: calc(-2ch - 16px);
}
h3::before {
  content: "###";
  margin-left: calc(-3ch - 16px);
}
h4::before {
  content: "####";
  margin-left: calc(-4ch - 16px);
}
h5::before {
  content: "#####";
  margin-left: calc(-5ch - 16px);
}
h6::before {
  content: "######";
  margin-left: calc(-6ch - 16px);
}

ul {
  padding-left: 0;
  list-style-type: none;
}
li::before {
  content: "+";

  margin-left: calc(-1ch - 16px);
  padding-right: 16px;

  color: #3a4552;
}

hr {
  margin: 64px -64px;
  padding: 0 128px;
  border: none;
  border-top: 1px solid #3a4552;
}

footer {
  color: #5f6f81;
}

.del {
  color: #3a4552;
}

/* Light theme */

@media (prefers-color-scheme: light) {
  body {
    color: #141414;
    background-color: #f1f1f1;
  }

  a {
    color: #1760fd;
    text-decoration-color: #1760fd00;
  }

  a:hover,
  a:focus {
    text-decoration-color: #1760fd;
    transition: text-decoration-color 0.1s ease-out;
    outline: none;
  }

  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    color: #b7c1cc;
  }

  li::before {
    color: #b7c1cc;
  }

  hr {
    border-color: #b7c1cc;
  }

  footer {
    color: #798592;
  }

  .del {
    color: #b7c1cc;
  }
}

/* Desktop */

@media (min-width: 426px) {
  p {
    text-align: justify;
    text-align-last: left;
  }
}

@media (min-width: calc(512px + 256px)) {
  body {
    padding: 128px 64px;
    line-height: 1.5;
  }
}
